.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List-background {
  /* position: absolute; */
  height: 100px;
  left: 0px;
  top: 51px;
  background: #F6F7FC;
  border-radius: 8px;
}
.button-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div {
  display: table;
  display: flex;
  
}

.img {
  vertical-align: middle;
  display: table-cell;
}
.span {
  vertical-align: middle;
  display: table-cell;
}
.span-right {
  align-self: flex-start;
  display: table-cell;
  text-align: right;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
